In [1]:
# Dependencies
import pandas as pd
import numpy as np
import json

In [32]:
# Importing data from csv
attendance_csv = "./Resources/2018-2021_Daily_Attendance_NYC.csv"
attendance_df = pd.read_csv(attendance_csv, encoding="ISO-8859-1")
school_name_csv = "./Resources/School_Name.csv"
school_name_df = pd.read_csv(school_name_csv, encoding="ISO-8859-1")
school_name_df.rename(columns={"DBN":"School_DBN"}, inplace=True)

In [13]:
# create dataframe for 2018-2019 school year
school_df_2018 = attendance_df[attendance_df['SchoolYear'] == 20182019]
school_df_2018.sort_values(by=["School DBN"], inplace=True)
school_df_2018.rename(columns={"School DBN":"School_DBN", "Enrolled":"Enrolled_2018", "Present":"Present_2018", "Absent":"Absent_2018", "Released":"Released_2018"}, inplace=True)
school_df_2018['Enrolled_2018'] = school_df_2018['Enrolled_2018'].astype('int')
school_df_2018['Present_2018'] = school_df_2018['Present_2018'].astype('int')
school_df_2018['Absent_2018'] = school_df_2018['Absent_2018'].astype('int')
school_df_2018['Released_2018'] = school_df_2018['Released_2018'].astype('int')
school_df_2018.head()

C:\Users\kamal\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\kamal\anaconda3\lib\site-packages\pandas\core\frame.py:4298: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\kamal\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\kamal\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\kamal\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\kamal\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,School_DBN,Date,SchoolYear,Enrolled_2018,Present_2018,Absent_2018,Released_2018
18521,01M015,10/03/2018,20182019,171,163,8,0
18002,01M015,10/09/2018,20182019,170,156,14,0
18001,01M015,10/05/2018,20182019,170,162,8,0
19831,01M015,11/13/2018,20182019,174,160,14,0
19830,01M015,11/09/2018,20182019,174,163,11,0

In [31]:
# group 2018 data by school DBN and obtain total attendance numbers
school_df_2018_DBN = school_df_2018.groupby(['School_DBN'], as_index=False).agg({
    'Enrolled_2018':'sum', 'Present_2018':'sum', 'Absent_2018':'sum', 'Released_2018':'sum'})
school_df_2018_DBN_df = pd.DataFrame(school_df_2018_DBN)
school_df_2018_DBN_df.head()

  School_DBN  Enrolled_2018  Present_2018  Absent_2018  Released_2018
0     01M015          30908         28609         2278             21
1     01M019          44994         40744         3979            271
2     01M020          85674         78870         6804              0
3     01M034          54900         48554         6309             37
4     01M063          40873         37111         3731             31

In [19]:
# create dataframe for 2019-2020 school year
school_df_2019 = attendance_df[attendance_df['SchoolYear'] == 20192020]
school_df_2019.sort_values(by=["School DBN"], inplace=True)
school_df_2019.rename(columns={"School DBN":"School_DBN", "Enrolled":"Enrolled_2019", "Present":"Present_2019", "Absent":"Absent_2019", "Released":"Released_2019"}, inplace=True)
school_df_2019['Enrolled_2019'] = school_df_2019['Enrolled_2019'].astype('int')
school_df_2019['Present_2019'] = school_df_2019['Present_2019'].astype('int')
school_df_2019['Absent_2019'] = school_df_2019['Absent_2019'].astype('int')
school_df_2019['Released_2019'] = school_df_2019['Released_2019'].astype('int')
school_df_2019.head()

C:\Users\kamal\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\kamal\anaconda3\lib\site-packages\pandas\core\frame.py:4298: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\kamal\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\kamal\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\kamal\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\kamal\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,School_DBN,Date,SchoolYear,Enrolled_2019,Present_2019,Absent_2019,Released_2019
22671,01M015,10/02/2019,20192020,181,176,5,0
23819,01M015,01/17/2020,20192020,184,165,19,0
23818,01M015,01/23/2020,20192020,184,166,18,0
23817,01M015,01/24/2020,20192020,184,164,20,0
23421,01M015,12/03/2019,20192020,183,173,10,0

In [30]:
# group 2019 data by school DBN and obtain total attendance numbers
school_df_2019_DBN = school_df_2019.groupby(['School_DBN'], as_index=False).agg({
    'Enrolled_2019':'sum', 'Present_2019':'sum', 'Absent_2019':'sum', 'Released_2019':'sum'})
school_df_2019_DBN_df = pd.DataFrame(school_df_2019_DBN)
school_df_2019_DBN_df.head()

  School_DBN  Enrolled_2019  Present_2019  Absent_2019  Released_2019
0     01M015          21113         19599         1500             14
1     01M019          27491         25248         2242              1
2     01M020          53695         48929         4762              4
3     01M034          33896         29536         4360              0
4     01M063          26659         24134         2494             31

In [29]:
# merge 2018 & 2019 dataframes to compare attendance
school_df_2018_2019 = pd.merge(school_df_2018_DBN_df, school_df_2019_DBN_df, on='School_DBN')
school_df_2018_2019.head()

,School_DBN,Enrolled_2018,Present_2018,Absent_2018,Released_2018,Enrolled_2019,Present_2019,Absent_2019,Released_2019
0,01M015,30908,28609,2278,21,21113,19599,1500,14
1,01M019,44994,40744,3979,271,27491,25248,2242,1
2,01M020,85674,78870,6804,0,53695,48929,4762,4
3,01M034,54900,48554,6309,37,33896,29536,4360,0
4,01M063,40873,37111,3731,31,26659,24134,2494,31

In [28]:
# merge with school_name_df to properly identify schools
complete_school_df = pd.merge(school_df_2018_2019, school_name_df, on='School_DBN')
complete_school_df.head()

,School_DBN,Enrolled_2018,Present_2018,Absent_2018,Released_2018,Enrolled_2019,Present_2019,Absent_2019,Released_2019,School Name,School Level
0,01M015,30908,28609,2278,21,21113,19599,1500,14,P.S. 015 Roberto Clemente,Elementary
1,01M019,44994,40744,3979,271,27491,25248,2242,1,P.S. 019 Asher Levy,Elementary
2,01M020,85674,78870,6804,0,53695,48929,4762,4,P.S. 020 Anna Silver,Elementary
3,01M034,54900,48554,6309,37,33896,29536,4360,0,P.S. 034 Franklin D. Roosevelt,K-8
4,01M063,40873,37111,3731,31,26659,24134,2494,31,The STAR Academy - P.S.63,Elementary